{% extends 'base.html.twig' %}

{% block title %}Formulaire de création d'article!{% endblock %}

{% block body %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4 m-50">
      <div class="cord-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> Nouveau article </h6>
      </div>
      <div class="cord-body">
        {{form(form)}}
      </div>
    </div>

{% endblock %}